/* Application CSS Classes */

.margin-top-100  {
	margin-top: 100px;	
}

.margin-top-20 {
	margin-top: 20px;
}

.font-small {
	font-size: 0.8rem;
}

.font-gray {
	color: #747474;
}

.full-width-row {
	min-width: 100%;
}
.title {
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 11px;
	background: #5c5c5c;
	color: #fff;
	padding: 15px;
	display: block;
}
.side-padding {
	padding: 0 1rem;
}