.selected-aot-locations{
        font-size: 12px;
        margin-right: 5px;
        font-family: 'HelveticaNeue' !important
  }
  #selected-aot-locations{
    height: 114px;
    overflow-y: scroll;
  }
  .selected-hb-destinations{
        font-size: 12px;
        margin-right: 5px;
        font-family: 'HelveticaNeue' !important
  }
  #selected-hb-destinations{
    height: 69px;
    overflow-y: scroll;
  }
  .margin-top-15{
	  margin-top:15px;
  }
  .selected-viator-destinations{
        font-size: 12px;
        margin-right: 5px;
        font-family: 'HelveticaNeue' !important
  }
  #selected-viator-destinations{
    height: 114px;
    overflow-y: scroll;
  }
  .selected-ae-regions{
        font-size: 12px;
        margin-right: 5px;
        font-family: 'HelveticaNeue' !important
  }
  #selected-ae-regions{
    height: 114px;
    overflow-y: scroll;
  }
   remove[data-provider="ae"]{
    color: red;
  }
   remove[data-provider="viator"]{
    color: red;
  }
  remove[data-provider="hb"]{
    color: red;
  }
  remove[data-provider="aot"]{
    color: red;
  }
	.error_message{
		color:red !important;
	}
	.error{
		color:red !important;
	}
	.with_error{
		border-color: red !important;
	}
	.success_message{
		color:green !important;
		text-align: center;
	}
	div .with_error{
		border:1px solid black;
	}
  .test{
    text-decoration: none;
  }
  .error_message{
    color:red !important;
  }
  .with_error{
    border-color: red !important;
  }
  .success_message{
    color:green !important;
    text-align: center;
  }
  .fa-plus-square{
    color:green;
    cursor:pointer;
  }
  .fa-minus-square{
    color:red;
    cursor:pointer;
  }
  /*------------------------- CMS (14/11/2017) ---------------------*/

.file-upload {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    vertical-align: -webkit-baseline-middle;
    background-color: #008CBA;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
    margin-bottom: 1.25rem;
    font-size: 13px;
    padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
}

.file-upload input.file-input{
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 1.25rem;
    padding: 0;
    font-size: 0.6875rem;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
}

.input-filename {
    vertical-align: -webkit-baseline-middle;
    padding: 0px 15px;
}

.clearing-thumbs{margin: 0px; padding: 0px;}
.clearing-thumbs::after{clear: both; display: block; content: "";}
.clearing-thumbs li{float: left; width: 20%; list-style: none; position: relative; padding: 10px 10px 10px 0;}
.clearing-thumbs li::first-child{padding-left: 0px;}
.clearing-thumbs li >a{display: block !important; border: solid 4px #FFFFFF; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); display: inline-block; line-height: 0; max-width: 100%; transition: all 200ms ease-out;}
.small-12{width: 100%;}
.image-delete {
    background-color: #f04124;
    text-align: center;
    display: block;
    font-size: 0.9em;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: background-color 300ms ease-out;
    border: none;
    color: #fff;
}

.image-primary {
    background-color: #008CBA;
    text-align: center;
    display: block;
    font-size: 0.9em;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: background-color 300ms ease-out;
    color: #fff; border: none; width: 100%;
}

.small-6 {
    width: 50%; float: left;
}

.primary-image {
    background-color: White;
    padding: 3px 5px;
    position: absolute;
    border-radius: 4px;
    color: #43AC6A !important;
    margin-left: 5px;
    margin-top: 5px;
    color: #fff; border: none;
}

.small-block-grid-6 > li:nth-of-type(5n+1) {
    clear: both; display: block;
    padding-left: 0px;
}
.small-block-grid-6 > li:nth-of-type(1n) {
    clear: none;
}
.clearing-thumbs li img{width: 100%;}

.delete-box {
    background: #dff0d8;
    border: solid 1px #d6e9c6;
    color: #3c763d;
    padding: 11px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.success-box a{
  color:#3c763d;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 9999;
    text-align: center;
    left: 0px;
    top: 0px;
    display: none;
}

.loader i {
    top: 45%;
    width: 75px;
    position: relative;
    transform: translateY(-45%);
    font-size: 50px;
    color: #249dd0;
}
th[onclick] {
    cursor: pointer;
}


.multiselect {
  width: 100%;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  /* font-weight: bold; */
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}