
  .jslider .jslider-bg i,
  .jslider .jslider-pointer { background: url(../img/jslider.png) no-repeat 0 0; }

  .jslider { display: block; width: 100%; height: 1em; position: relative; top: 0.6em; font-family: Arial, sans-serif; }
  .jslider table { width: 100%; border-collapse: collapse; border: 0; }
  .jslider td, .jslider th { padding: 0; vertical-align: top; text-align: left; border: 0; }

  .jslider table,
  .jslider table tr,
  .jslider table tr td { width: 100%; vertical-align: top; }

  .jslider .jslider-bg { position: relative; }
  .jslider .jslider-bg i { height: 12px; position: absolute; font-size: 0; top: 0; }
  .jslider .jslider-bg .l { width: 10%; background-position: 0 0; left: 0; background: url('../images/track.png') no-repeat;}
  .jslider .jslider-bg .f { width: 80%; left: 10%; background: url('../images/track.png') repeat-x -2px;}
  .jslider .jslider-bg .r { width: 10%; left: 90%;background: url('../images/track.png') repeat-x -2px;}
  .jslider .jslider-bg .v { position: absolute; width: 60%; left: 20%; top: 0; height: 18px; background: url('../images/active-track.png') repeat-x;}

  .jslider .jslider-pointer {width: 29px; height: 41px; position: absolute; left: 20%; top: -15px; margin-left: -6px; cursor: pointer; cursor: hand; background: url('../images/jslider-thumb.png') no-repeat;}
  .jslider .jslider-pointer-hover {}
  .jslider .jslider-pointer-to { left: 80%; margin-left: -15px;}

  .jslider .jslider-label { font-size: 14px; line-height: 12px; color: black; opacity: 0.4; white-space: nowrap; padding: 0px 2px; position: absolute; top: -40px; left: 0px; }
  .jslider .jslider-label-to { left: auto; right: 0; }

  .jslider .jslider-value {font-size: 14px; color: rgba(0,0,0,.54); white-space: nowrap; padding: 1px 2px 0; position: absolute; top: -35px; left: 20%; background: white; line-height: 12px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
  .jslider .jslider-value-to { left: 80%; }
  .modal-body .jslider .jslider-value-to{left: 90% !important;}

  .jslider .jslider-label small,
  .jslider .jslider-value small { position: relative; top: -0.4em; }

  .jslider .jslider-scale { position: relative; top: 9px; }
  .jslider .jslider-scale span { position: absolute; height: 5px; border-left: 1px solid #999; font-size: 0; }
  .jslider .jslider-scale ins { font-size: 9px; text-decoration: none; position: absolute; left: 0px; top: 5px; color: #999; }

  .jslider-single .jslider-pointer-to,
  .jslider-single .jslider-value-to,
  .jslider-single .jslider-bg .v,
  .jslider-limitless .jslider-label { display: none; }
