#map-loader {
	background: rgba(255, 255, 255, 0.85);
	display: none;
	height: 450px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#map-loader h5 {
	text-align: center;
	top: 50%;
	margin-top: 20%;
}
.marker-label {
	font-size: 9px;
	font-weight: bold;
	width: 15px;
	text-align: center;
	color: #000000;
}
.info-window {
	padding: 0;
	background: #fff;
}
.info-window img {
	width: 60%;
	height: 100px;
	margin-right: 1rem;
	box-shadow: 0 1px 6px #5B5B5B;
}
.iw-title {
	display: block;
	width: 100%;
	background: #009688;
	padding: 1.5rem;
}
.iw-title p {
	text-transform: uppercase;
	color: #ffffff;
	margin: 0;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.11rem;
}
.iw-description {
	margin: 25px 0;
	text-align: justify;
	width: 100%;
	padding: 0 1rem;
	font-size: 11px;
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-controls {
	display: block;
	margin: 0;
}
.iw-controls a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	color: #ffffff;
	padding: 11px 35px;
	transition: .23s;
}
.iw-controls a:hover {
	opacity: 0.8;
}
.iw-controls i.icon:before {
	font-size: 11px;
	margin-left: 0;
}
.iw-controls .add-destination-btn {
	width: 50%;
	background: #2AA9DF;
}
.iw-controls .cancel-btn {
	width: 50%;
	background: #515151;
}
.iw-controls .number-of-nights {
	display: block;
	font-size: 15px;
	color: #2AA9DF;
	padding: 11px 35px;
	text-transform: uppercase;
}
.iw-controls .change-nights-btn[data-type="add"] {
	width: 50%;
	background: #2AA9DF;
}
.iw-controls .change-nights-btn[data-type="subtract"] {
	width: 50%;
	background: #E53935;
}
.iw-controls .remove-btn,
.iw-controls .remove-round-trip-btn {
	background: #515151;
	width: 100%;
}
.iw-controls .round-trip-btn {
	background: #118e77;
	width: 100%;
}
.info-window-outer {
	background: #ffffff;
	width: 350px !important;
	top: 25px !important;
	left: 25px !important;
	box-shadow: 0 1px 6px #474747;
}
.info-window-outer > div {
	display: block !important;
}
.city-label-outer-parent {
	width: auto !important;
	height: auto !important;
}
.city-label-outer {
	top: 18px !important;
	left: 25px !important;
	width: auto !important;
	background: transparent !important;
	box-shadow: none !important;
}
.city-label-outer > div > div {
	overflow: hidden !important;
}
.city-label {
	white-space: nowrap;
	cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur") 8 8, default;
	font-size: 12px;
	font-weight: 700;
	color: #2AA9DF;
}