/* Application Stylesheet */

#page-wrap {
	min-height: 100%;
	position: relative;
}

/* Top Nav */

#top-nav {
	width: 100%;
	height: 55px;
	background: #0f5e88;
}

#logo {
	padding-top: 17px;
	padding-left: 10px;
}

#logo a {
	color: #a8cced;
	font-weight: 700;
	font-size: 0.938;
}

#user-display {
	font-size: 0.9rem;
}

#user-display a {
	color: #f5f5f5;
}

.dropdown {
	display: block;
	font-size: 0.9rem;
	padding: 17px;
	transition: all 0.12s;
}

.dropdown:hover {
	background: #127eb8;
}

#user-menu li a {
	color: #535353;
	font-size: 0.8rem;
}

/* Side Nav */
#side-nav {
	background: #0f5e88;
	border-right: 2px solid #0f5e88;
	width: 240px;
	position: absolute;
	bottom: 0;
	top: 0;
	margin-top: 55px;
}

#side-nav ul li a {
	display: block;
	color: #c2e3f5;
}

#side-nav ul li a i {
	border-left: 2px solid #127eb8;
	padding: 10px 16px;
	width: 50px;
}

#side-nav ul li a span {
	font-size: 11px;
	margin-left: 8px;
	text-transform: uppercase;
}
#side-nav ul li ul li a {
	font-size: 11px;
	text-transform: uppercase;
}

#mobile-menu-btn {
	padding: 15px 20px;
	border-right: 1px solid #6E6E6E;
	margin-right: 40px;
	color: #E8E8E8;
}

.left-off-canvas-menu {
	background: #0f5e88;
}

.left-off-canvas-menu ul li a {
	display: block;
	color: #BFDAEC;
}

.left-off-canvas-menu ul li a i {
	border-left: 1px solid #18A6CB;
	padding: 10px 16px;
	width: 50px;
}

.left-off-canvas-menu ul li a span {
	font-size: 0.8rem;
	margin-left: 8px;
}

.move-right .exit-off-canvas {
	box-shadow:none;
}

.hover-side-nav i {
	background: #0e95de;
	color: #fff !important;
}

.hover-side-nav span {
	color: #fff;
}

.active-side-nav i {
	background: #0e95de;
	color: #fff !important;
}

.active-side-nav span {
	color: #fff;
}

/* Content */
#content {
	margin-top: 20px;
	min-height: 100vh;
}

/* Media Queries */
@media only screen and (min-width: 64.063em) {
	#content {
		margin-left: 280px;
		margin-right: 40px;
	}
}
.fa-check{
	color:green;
}
.fa-times{
	color:red;
}
.fa-thumbs-o-up{
	color:#0e95de;

}
.ta-label{
	color:#666666;
	font-size:0.875rem;
}
.vertical-aligned-list > li{
	vertical-align: middle;
}
.file-upload {
	display:inline;
  	position: relative;
  	overflow: hidden;
  	cursor: pointer;
  	vertical-align: -webkit-baseline-middle;
  	background-color: #008CBA;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
	margin-bottom: 1.25rem;
  	font-size: 0.6875rem;
  	padding:0.625rem 1.25rem 0.6875rem 1.25rem;
}
.file-upload:hover{
    background-color: #007095;
  	cursor: pointer;
}
.file-upload input.file-input {
  	position: absolute;
	top: 0;
	right: 0;
	margin-bottom: 1.25rem;
	padding: 0;
	font-size: 0.6875rem;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0); 
  	padding:0.625rem 1.25rem 0.6875rem 1.25rem;
}
.input-filename{
	vertical-align: -webkit-baseline-middle;
	padding:0px 15px;
}
.no-padding{
	padding:0;
}
.image-primary{
	background-color: #008CBA;
	text-align: center;
	display: block;
	font-size: 0.9em;
	padding-top: 2px;
	padding-bottom: 2px;
    transition: background-color 300ms ease-out;
}
.image-primary:hover{
	background-color: #007095;
}
.image-delete{
    background-color: #f04124;
	text-align: center;
	display: block;	
	font-size: 0.9em;
	padding-top: 2px;
	padding-bottom: 2px;
    transition: background-color 300ms ease-out;
}
.image-delete:hover{
    background-color: #cf2a0e;
}
.white{
	color:white;	
}

.primary-image{
    background-color: White;
    padding: 3px 5px;
    position: absolute;
    border-radius: 4px;
    color: #43AC6A;
    margin-left: 5px;
    margin-top: 5px;
}

.red-btn{
	background-color: #f04124;
    border-color: #cf2a0e;
    color: #FFFFFF;
}
.red-btn:hover, .red-btn:focus{
    background-color: #cf2a0e;
}

.image-alert-box-close{
    right: 0.25rem;
    background: inherit;
    font-size: 1.375rem;
    line-height: .9;
    margin-top: -0.6875rem;
    opacity: 0.3;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%;
}

.image-file-loader{
	color: #008CBA;
    vertical-align: -webkit-baseline-middle!important;
}

.no-data{
	color: red;
	text-align:center;
}

.alert-box-link{
	color:white;
	text-decoration: underline;
	cursor:pointer;
}
.alert-box-link:hover{
	color:#CECECE;
}
ul.confirmation-list > li{
	font-size: .85rem;
}
span.required{
	color:red;
}

.has-tip, .has-tip:hover, .has-tip:focus{
	border-bottom: none;
	margin-left:.5rem;
	margin-right:.5rem;
}


.no-records{
	color:red;
	font-weight: bold;
}	

red{
	color:red;	
}

#selected-aot-locations, #selected-hb-destinations, #selected-viator-destinations, #selected-ae-regions{
/*	-webkit-appearance: none !important;
    -moz-appearance: none !important;*/
    background-color: #FAFAFA;
    border-radius: 0;
    background-position: 100% center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    color: rgba(0, 0, 0, 0.75);
    font-family: inherit;
    line-height: 0.7rem;
    padding: 0.5rem;
    border-radius: 0;
    min-height: 151px;
    max-height: 98px;
    overflow-y: scroll;
}

item{
	padding: 0px 5px;
    font-size: 70%;
    line-height: inherit;
}

remove{
	color:#f04124;
	cursor:pointer;
}

remove:hover{
	color:#cf2a0e;

}	

.light-text {
	font-weight: 300;
}

/* TABLES */
table {
	width: 100%;
}
table thead tr th,
table tbody tr td {
	font-size: 13px;
	padding: 5px;
}

/* BUTTON GROUP */
table .button-group .button {
	margin: 0;
	padding: 8px;

}

/* PROCESS STEPS */
.process-steps {
	position: relative;
}
.process-steps .step-line {
	display: inline-block;
	position: relative;
	margin: 10px 20px;
}
.process-steps .step-line span.step {
	border: 3px solid #0f5e88;
	border-radius: 100px;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-left: -5px;
}
.process-steps .step-line span.step.active {
	background: #0f5e88;
}
.process-steps .step-separator {
	border: 2px solid #0f5e88;
	width: 206px;
	display: inline-block;
	margin-left: -5px;
	margin-bottom: 7px;
}
.process-step {
	display: block;
}
.process-step .step-text {
	color: #B5CEDB;
	display: inline-block;
	text-align: center;
	margin-right: 162px;
	margin-left: -11px;
}
.process-step .step-text.active {
	color: #0f5e88;
}
.process-step .step-text:last-child {
	margin-right: 0;
}
.process-step .step-text p {
	font-size: 11px;
	font-weight: bold;
	width: 70px;
	margin-top: 10px;
}